.myChart  {
    margin: 20px;
}

body {
    margin:50px;
    /* border-style: ridge; */
}

#mainNav {

    margin: 20px;
    margin-bottom: 75px;
}



.carousel-control-prev-icon , .carousel-control-next-icon{
    color: aquamarine;
    background-color: black;
    margin-right: 100px;
    margin-top: 90%;
    border-radius: 50px;
    border: 2px;
}